$bgcolor: aqua;
$bgcolorlime: lime;

body {
    background-color: $bgcolor;
}

h1 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    padding-top: 25%;
}

@mixin limestart ($bgcolorlime){ 
    background-color: lime;
    h1 {
        text-transform: uppercase;
    }
}

body {
    @include limestart ($bgcolorlime);
}

@mixin flex_icon() {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: .5s;
}

.img_icon {
    @include flex_icon();
} 

.img_invisible {
    @include flex_icon();
    opacity: 0;
}